#title {
  background-color: #ff4c68;
}
h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 4rem;
  line-height: 1.5;
  color: white;
  padding: 5%;
}
.container-fluid{
  padding: 2% 10%;
}

.navbar-brand {
  font-size: 2.7rem;
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
}
.nav-item {
  padding-right: 2rem;
  font-size: 1.3rem;
  }


  .rotateimg180 {
  transform: rotate(20deg);
  width: 60%;





}
 button {
   margin: 5% auto auto 3%;
 }
