#title {
  background-color: #ff4c68;
}
h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 4rem;
  line-height: 1.5;
  color: white;
  padding: 5%;
}
h3 {
  font-family: 'Montserrat-bold', sans-serif;
  font-size: 1.5rem;
  text-align: center;

}
#features {
  padding: 5% 15%;
}
#features i {
  color: #FFAFAF;
  padding: 5% 20%;



}
#features i:hover {
 color: #ff4c68;
}
#features p {

  color: lightgray;
 text-align: center;

 font-size: 1.2rem;





}

.container-fluid{
  padding: 2% 10%;
}

.navbar-brand {
  font-size: 2.7rem;
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
}
.nav-item {
  padding-right: 2rem;
  font-size: 1.3rem;
  }


  .rotateimg180 {
  transform: rotate(20deg);
  width: 60%;





}
@media (max-width: 1000px)
  {
    .rotateimg180 {
    transform: rotate(15deg);
    padding-top: 3%;
    width: 50%;
  }
}

 button {
   margin: 5% auto auto 3%;
 }
