.title-section {
  background-color: #ff4c68;
}

body {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

h1, h2, h3 {
  font-family: 'Montserrat-bold', sans-serif;
}

/* heading section  */
.h1-title {
  font-size: 4rem;
  line-height: 1.5;
  color: #fff;
  padding: 5%;

}


@media (max-width:1300px) {
  .h1-title {
    font-size: 280%;
    align-items: center;
  }
}
.heading-div {
  text-align: left;
}

.container-fluid {
  padding: 2% 10% 10%;
}

@media (max-width: 990px) {
  .container-fluid {
    text-align: center;
  }
}

.navbar-brand {
  font-size: 2.7rem;
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
}

.nav-item {
  padding-right: 2rem;
  font-size: 1.3rem;
}

.rotateimg180 {
  border-radius: 2.5rem;
  transform: rotate(25deg);
  width: 22%;
  position: absolute;
  z-index: 1;
  right: 28%;
}

@media (max-width: 990px) {
  .rotateimg180 {
    border-radius: 4rem;
    position: static;
    transform: none;
    width: 35%;
    padding-top: 6%;
  }
}

.title-btn {
  margin: 5% auto auto 3%;

}

/* feature section */
.features-section {
  padding: 5% 15%;
  z-index: 1;
  position: relative;
  background-color: #fff;
}

.feature-far {
  color: #FFAFAF;
  padding: 5% 20%;
}

.feature-far:hover {
  color: #ff4c68;
}

.features-p {
  color: lightgray;

  font-size: 1.2rem;
}

.features-title {
  font-size: 1.7rem;

}

/* testimonials section */
.testimonials-section {

  color: white;
  background-color: #FFAFAF;
}

.testimonials-btn {
  margin-top: 10rem;
}

.carousel-item {
  padding: 5% 15%;
}

.testi-h2 {
  font-size: 3.8rem;
}

.testDog-img {
  border-radius: 50%;

  width: 6%;
}

/* press section */
.press-section {
  background-color: #FFAFAF;

}

.press-img {
  width: 250px;
  margin-left: 5%;
  margin-bottom: 10%;
}

/* pricing section */
.pricing-section {
  padding: 5rem;

}

.pricing-title {
  font-size: 4rem;
}

.price-level {
  font-size: 3.8rem;
}

.card-customization {
  padding: 4% 1%;
}

.card-title {
  font-size: 1.5rem;
}

.monthes-changes {
  color: lightgray;
}

/* cta section */
.cta-section {
  background-color: #ff4c68;

  padding: 8rem;
}

.cta-title {
  font-size: 4.5rem;
  color: #fff;
}

.cta-btn {
  margin: 2rem 0.5rem;
}

/* footer-section */
.footer-section {

  padding: 5rem;
}

.copyright-style {
  color: lightgray;
  font-size: 1.2rem;
}

.footericons {
  padding: 10px;
}

.footer-anchor {
  color: black;
}

.footer-anchor:hover {
  color: #ff4c68;
}
